<%- include('partials/header') %>

<h1><%= Campground.name %></h1>

<img src = "<%= Campground.image %>">

<p> <%= Campground.description %> </p>

<% Campground.comments.forEach(function(comment){ %>
	<p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<%})%>

<%- include('partials/footer') %>